<ion-header no-border>
  </ion-header>
  <ion-content>
    <div class="main">
      <div class=details>
        <div class="card">
          <h5 class="heading">KES 250 &nbsp;<strong class="status">Confirmed</strong>
            <ion-icon size="large" class="onway" name="arrow-round-forward"></ion-icon>
          </h5>
          <p class="subHeading">Order No :AN5084348</p>
        </div>
      </div>
      <ion-button expand="full" class="confirm-btn" color="warning">I Have Picked</ion-button>
      <div class="vertical-spacing"></div>
      <ion-card no-padding no-margin class="time-card">
        <ion-card-content>
          <div class="pickuptime">Pickup time: Today 11:30 AM</div>
        </ion-card-content>
      </ion-card>
  
      <div class="vertical-spacing"></div>
  
      <ion-card no-padding no-margin>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-icon slot="start" name="arrow-dropright-circle"></ion-icon>
              <h6>Serendy Office ,Plaze 3rd Floor</h6>
            </ion-item>
            <ion-item>
              <ion-icon slot="start" name="arrow-dropright-circle"></ion-icon>
              <h6>Serendy Office ,Plaze 3rd Floor</h6>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
  
      <div class="vertical-spacing"></div>
  
      <ion-card no-padding no-margin>
        <ion-card-content>
          <div>Client Name: Mike</div>
          <!-- <div>Call Lawrence At Kierti House: <a href="#">+9231566982</a></div> -->
        </ion-card-content>
      </ion-card>
  
    </div>
  
  </ion-content>
