<ion-header no-border></ion-header>
<ion-content>
  <div class="map">
    <img class="mapimage" src="../../assets/map.png">
  </div>

  <div class=details>
    <div class="card">
      <h5 class="heading">KES 250 &nbsp;<strong class="status">Pending</strong>
        <ion-icon size="large" class="onway" name="arrow-round-forward"></ion-icon>
      </h5>
      <p class="subHeading">Order No :AN5084348</p>
    </div>
  </div>
  <ion-button expand="full"  class="confirm-btn" color="danger">I Confirm</ion-button>

 
</ion-content>